@media screen and (max-width: 500px) {
  input {
    width: 00px;
  }
}
@media screen and (max-width: 501px) {
  input {
    width: 50px;
  }
}
@media screen and (max-width: 768px) {
  input {
    width: 20px;
  }
}
@media screen and (max-width: 1200px) {
  input {
    width: 20px;
  }
}
